html {
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;

}


*::-webkit-scrollbar {
    width: 3px;
    height: 7px;
    background-color: transparent;
    border-left: 1px solid #cacaca;
}
*::-webkit-scrollbar-thumb {
    background-color: #B7B7B7;
}

#app {
    -webkit-user-select: none;
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    height: 100%;
}

#app-left-menu {
    border-right: 1px solid #cacaca;
}
.app-left-menu-inner {

}
.app-left-menu-inner-buttons {
    display: flex;
    flex-direction: column;
}
.app-left-menu-inner-buttons-inner {
    width: 60px;
    height: 60px;
    border-bottom: 1px solid #cacaca;
}
.app-left-menu-inner-buttons-inner div {
    padding: 20px;
    text-align: center;
}
.app-left-menu-inner-buttons-inner div span {

}

#app-calendar {
    width: 100%;
}

.app-inner {

}
.app-top-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    font-size: 2em;
    padding: 10px 20px;
}
.app-top-inner button {
    background-color: #fff;
    border: 0;
    font-size: 20px;
    outline: none;
}
.app-top-inner-date {

}


.app-calendar-inner {

}
.app-calendar-inner-days {
    border-bottom: 1px solid #cacaca;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.app-calendar-inner-day {
    text-align: right;
    padding: 50px 5px 0 0;
}
.app-calendar-inner-month-days {
    border-bottom: 1px solid #cacaca;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.app-calendar-inner-month-day {
    border-bottom: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    cursor: pointer;
    overflow: hidden;
}
.app-calendar-inner-month-day-flat {
    text-align: right;
    border: 1px solid rgba(202, 202, 202, 0.41);
    margin: 5px;
    box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.2);
}
.app-calendar-inner-month-day:hover {
    background-color: rgba(202, 202, 202, 0.43)
}
.calendar-day {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}
.day-inner {
    text-align: right;
    padding: 5px;
}
.day-inner span {
    padding: 3px 8px;
}
.day-tip {
    text-align: center;
    background-color: rgba(46, 153, 195, 0.58);
    color: #fff;
    width: 100%;
    margin-bottom: 2px;
}

.prev,
.next {
    background-color: rgba(202, 202, 202, 0.43);
}
.cur {

}
.today {
    /*position: absolute;*/
    height: 300px;
}
.today span {
    border-radius: 7px;
    background-color: red;
    color: #fff;
}


#day-over-all {
    -webkit-user-select: none;
    cursor: default;
}
.day-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 500;
}
.day-background-inner {
    background-color: #fff;
    padding: 10px;
    z-index: 1000;
    width: 100%;
}
.day-inner-title {
    font-size: 2em;
    border-bottom: 1px solid #cacaca;
    display: flex;
}
.day-inner-title-inner {

}
.day-inner-hours {
    /*height: 92%;*/
    overflow-y: scroll;
}
.day-hour {

}
.day-hour-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0;
    /*border-bottom: 1px solid #cacaca;*/
}
.day-time {
    padding: 0 10px 0 5px;
    width: 50px;
}
.day-event {
    width: 100%;
}
.day-event hr {
    border-color: #fff;
}
.arrow {
    padding: 0 33px;
}
